*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bloc-tabs {
    display: flex;
}
.tabs {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-weight: 300;
    font-size: 1.4rem;
}


.active-tabs  {
    color: #4032E5;

}
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 2px;
    background: #4032E5;
}
button {
    border: none; 
    background: #fff;
}
.content-tabs {
    flex-grow : 1;
}
.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}
.content h2 {
    padding: 0px 0 5px 0px;
}
.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}
.content p {
    width: 100%;
    height: 100%;
}
.active-content {
    display: block;
}

.bloc_holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row{
    padding-bottom: 20px;
}
.load_more{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.content-tabs img{
    width: 100%;
    margin-bottom: 15px;
}